@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{          
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Navbar */

.navbar{
    background-color: #1A0B2E;
}

.nav-container{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
}

.nav-header{
    color: white;
}
.nav-text {
    font-size: 2.5rem;
    font-weight: 700;
}
.wave {
  background: linear-gradient(90deg, #FA538E, #F3727A, #F109BB, #8D00F0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu{
    color: white;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 32px;
    padding: 24px 200px;
}

.nav-btn{
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(90deg, #FFD84D, #FF3CAC, #784BA0);
    color: white;
    cursor: pointer;

}

.nav-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 60, 172, 0.4);
}

.nav-icon {
    display: none;
    cursor: pointer;
}


/* Hero section */
.Hero{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-container{
    height: 350px;
    position: relative;
   
}

.circle{
    max-width: 350px;
    max-height: 350px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;  
}

.mic{
   position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

/* NEW badge */
.badge {
  position: absolute;
  top: 12px;
  right: 37%;
  background: #00ff9c;
  color: #000;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  z-index: 3; 
}

.hero-contant{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.hero-contant>h2{
    color: white;
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: 800;
}

.hero-contant>p{
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 400;
}

.hero-btn{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.spotify-btn{
    background: linear-gradient(90deg, #FFD84D, #FF3CAC, #784BA0);
    color: white;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
.spotify-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 60, 172, 0.4);
}

.subscribe-btn{
    background: transparent;
    color: #00ff9c;
    border: 2px solid #00ff9c;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.subscribe-btn:hover {
  background: #00ff9c;
  color: #000;
  box-shadow:
  
    0 0 40px #00ff9c;
}





/* Responsive design */

@media screen and (max-width:576px) {
    .menu,
    .nav-btn{
        display: none;
    }

    .nav-icon{
        display: inline-block;
    }


     /* Hero Section */
    .hero{
        background-size: 100% 100%;
    }
    .circle,
    .mic {
        /* width: 80%; */
        padding: 10px;
    }
    .badge {
    right: 25%;
    }
    .hero-contant>p{
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 0.8rem;
    font-weight: 400;
    }

}