@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{          
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Navbar */

.navbar{
    background-color: #1A0B2E;
}

.nav-container{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
}

.nav-header{
    color: white;
}
.nav-text {
    font-size: 2.5rem;
    font-weight: 700;
}
.wave {
  background: linear-gradient(90deg, #FA538E, #F3727A, #F109BB, #8D00F0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu{
    color: white;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 32px;
    padding: 24px 200px;
}

.nav-btn{
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(90deg, #FFD84D, #FF3CAC, #784BA0);
    color: white;
    cursor: pointer;

}

.nav-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 60, 172, 0.4);
}

.nav-icon {
    display: none;
    cursor: pointer;
}


/* Hero section */
.Hero{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-container{
    height: 350px;
    position: relative;
   
}

.circle{
    max-width: 350px;
    max-height: 350px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;  
}

.mic{
   position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

/* NEW badge */
.badge {
  position: absolute;
  top: 12px;
  right: 37%;
  background: #00ff9c;
  color: #000;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  z-index: 3; 
}

.hero-contant{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.hero-contant>h2{
    color: white;
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: 800;
}

.hero-contant>p{
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 400;
}

.hero-btn{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.spotify-btn{
    background: linear-gradient(90deg, #FFD84D, #FF3CAC, #784BA0);
    color: white;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
.spotify-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 60, 172, 0.4);
}

.subscribe-btn{
    background: transparent;
    color: #00ff9c;
    border: 2px solid #00ff9c;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.subscribe-btn:hover {
  background: #00ff9c;
  color: #000;
  box-shadow:
    0 0 40px #00ff9c;
}


/* About Section */
.about {
    background-color: #1A0B2E;
    padding-top: 1px;
    overflow: hidden; 
}

.about-container{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  
}

.about-container>h2{
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

/* .colored-hr {
    border: none;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.316);
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
} */

.about-container>p{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
    line-height: 20px;
    color: #a2a2a2;
}

/* .about-card{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 160px;
    justify-content: center;
    margin-bottom: 120px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 80px;
} */

.about-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 160px;
    margin-bottom: 120px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 80px;
}

.acard{
    text-align: center;
}

.acard>h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}

.acard>p{
    font-size: 1rem;
    color: gray;
    margin-top: 16px;
}

/* Choose Section */

.choose{
    background-color: #230e3d;
    color: white;
}

.choose>h2{
    text-align: center;
    padding-top: 120px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 900;
}

.grid-container{

    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding-bottom: 120px;
}

.box{
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.card-1{
    grid-column: span 1;
    grid-row: span 2;
    padding: 107.5px 40px;
}
.card-2{
    grid-column: span 2;
    grid-row: span 1;
}
.card-3{
    grid-column: span 2;
    grid-row: span 1;
}
.card-4{
    grid-column: span 2;
    grid-row: span 1;
}

.img,
.h4{
    padding-bottom: 16px;
}

.h4{
    font-weight: 700;
    font-size: 1.5rem;
}
.p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}


/* Featured Section */
.feature{
    background-color: #1A0B2E;
    /* border: 2px solid white; */
    color: white;

}
.feature>h2{
    text-align: center;
    padding-top: 120px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 900;  
}
.card-container{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    gap: 30px;
    padding-bottom: 120px;
}
.card {
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 40px;
}

.vedio{
    border-radius: 40px ;
    overflow: hidden;
}

.card-contant{
    padding: 24px;
}
.card-title{
    margin-bottom: 12px;
    font-size: 1.5rem;
    font-weight: 700;
}
.card-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
}
.card-icon{
    display: flex;
    gap: 6px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}
.card-icon>img{
    height: 20px;
    width: 20px;
}



























/* Responsive design */

@media screen and (max-width:576px) {
    .menu,
    .nav-btn{
        display: none;
    }

    .nav-icon{
        display: inline-block;
    }


     /* Hero Section */
    .hero{
        background-size: 100% 100%;
    }
    .circle,
    .mic {
        /* width: 80%; */
        padding: 10px;
    }
    .badge {
    right: 25%;
    }
    .hero-contant>p{
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 0.8rem;
    font-weight: 400;
    }

    /* About */
    .about-container {
        padding: 0 20px;
    }

    .about>h2 {
        font-size: 2rem;
    }

   

    .about-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 0 20px;
        padding-bottom: 40px;
    }

    .acard {
        width: 100%;
    }


    /* Choose */
    .choose>h2{
        font-size: 2rem;
        padding-top: 40px;
    }
      .grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 24px;
        padding-bottom: 40px;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4 {
        grid-column: auto;
    }

    .card-1 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .box {
        padding: 24px;
    }

    /* Feature */
    .card-container{
        flex-direction: column;
        padding-bottom: 20px;
    }
    .feature>h2{
        font-size: 2rem;
        padding-top: 40px;
    }


}